.blocksix {
  margin-top: 185px;
  margin-bottom: 250px;
  position: relative;
}

.linia {
  text-align: center;
}
.zagolovok {
  padding-top: 149px;
  padding-left: 142px;
}
.box {
  padding: 87px 170px;
  .ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 34px;
      text-transform: uppercase;
      color: #4d533c;
    }
    p {
      width: 210px;
      height: 160px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      color: rgba(33, 56, 66, 0.6);
    }
  }
}
.vstavka {
    position: absolute;
 margin-top: 80px;
  width: 1270px;
  height: 360px;

  background: #fafafa;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);

  .let {
    padding-top: 70px;
    padding-bottom: 50px;
    font-weight: 700;
font-size: 60px;
line-height: 74px;
padding-left: 160px;
color: #4D533C;

  }
  .letss {
 
    padding-left: 160px;
    font-family: 'FontAwesome';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;

color: #D4D6D4;
  }
}
